*~
*.*~
\#*
.\#*
.local/
.extension/
*.cache*
*.log
/modules/private
test/.local*/
test/result

.dap-breakpoints
.org-id-locations
.tern-port
.yas-compiled-snippets.el
projectile-bookmarks.eld
init-mini.el
auto-save-list/
cask/
ede-projects.el
elpa/
eln-cache/
network-security.data
semanticdb
forge-database.sqlite
eshell/
server/
smex-items
tramp
var/

*.elc
*.lib
*.fas
*.dat
*.eld
